In [7]:
# Import pandas
import pandas as pd

In [8]:
# Read the data from the csv file
schools = pd.read_csv('schools.csv')

In [9]:
# Preview the first five rows of the dataframe
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [10]:
# Which NYC schools have the best math results? (The best math results are at least 80% of the *maximum possible of 800* for the math test.)
best_math_schools = schools[schools['average_math'] >= 0.8 * 800][['school_name', 'average_math']].sort_values('average_math', ascending=False)

print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [13]:
# What are the top 10 performing schools based on combined SAT scores?
schools['total_SAT'] = sum([schools['average_math'], schools['average_reading'], schools['average_writing']])
top_10_schools = schools[['school_name', 'total_SAT']].sort_values('total_SAT', ascending=False).head(10)
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [30]:
# Which single borough has the largest standard deviation in the combined SAT scores?
# Group and calculate
largest_std_dev = schools.groupby('borough')['total_SAT'].agg(['count', 'mean', 'std']).sort_values('std', ascending=False).iloc[[0]]
# Rename the columns
largest_std_dev.columns = ['num_schools', 'average_SAT', 'std_SAT']
# Round the values
largest_std_dev = largest_std_dev.round(2)
# Reset the index
largest_std_dev.reset_index(inplace=True)

print(largest_std_dev)

     borough  num_schools  average_SAT  std_SAT
0  Manhattan           89      1340.13   230.29